In [24]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np

tempo_dict = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}

dffd = pd.DataFrame.from_dict (tempo_dict)

df = pd.read_csv('pokemon_data.csv')

#print (df.head(3))

#df.columns

#print (df['Name'][0: 3])

#print (df.iloc [0:4])

#df.sort_values ('Name', ascending= False)

df['total'] = df ['HP']+ df['Attack'] + df['Defense'] + df ['Sp. Atk'] + df['Sp. Def']	+ df['Speed']	+ df['Generation']  #creating a new table to the over all table

df.head ()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,310

In [3]:
fig, ax = pl.subplots()  # Create a figure containing a single axes.
ax.plot([1, 2, 3, 4], [1, 4, 2, 3])

NameError: name 'pl' is not defined

In [15]:
df.columns

Index(['year', 'industry_code_ANZSIC', 'industry_name_ANZSIC', 'rme_size_grp',
       'variable', 'value', 'unit'],
      dtype='object')

In [16]:
df.rpow

<bound method flex_arith_method_FRAME.<locals>.f of        year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
3      2011                    A  Agriculture, Forestry and Fishing
4      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
15475  2020                  all                     All Industries
15476  2020                  all                     All Industries
15477  2020                  all                     All Industries
15478  2020                  all                     All Industries
15479  2020                  all                     All Industries

        rme_size_grp                                         variable  \
0                a_0                                    Activity unit
1                a_0                           Rolling mean employees
2                a_0                          Salaries and wages paid
3                a_0  Sales, government funding, grants and subsidies
4                a_0                                     Total income
...              ...                                              ...
15475  j_Grand_Total                                     Total income
15476  j_Grand_Total                                Total expenditure
15477  j_Grand_Total                      Operating profit before tax
15478  j_Grand_Total                                     Total assets
15479  j_Grand_Total                            Fixed tangible assets

         value               unit
0        46134              COUNT
1            0              COUNT
2          279  DOLLARS(millions)
3         8187  DOLLARS(millions)
4         8866  DOLLARS(millions)
...        ...                ...
15475   733258  DOLLARS(millions)
15476   654872  DOLLARS(millions)
15477    77389  DOLLARS(millions)
15478  2396143  DOLLARS(millions)
15479   562646  DOLLARS(millions)

[15480 rows x 7 columns]>

In [17]:
df.dtypes

year                     int64
industry_code_ANZSIC    object
industry_name_ANZSIC    object
rme_size_grp            object
variable                object
value                   object
unit                    object
dtype: object

In [22]:
df.describe( include= 'object')

,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
count,15480,15480,15480,15480,15480,15480
unique,20,20,10,9,6839,2
top,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,C,DOLLARS(millions)
freq,810,810,1710,1720,309,12040